    .slider3D{
      width:930px;
      height: 350px;
      margin:auto;
      margin-top:30px;
    }
    .slider3D .imgList{
      width:100%;
      height:100%;
    }
    .slider3D .imgList ul{
      width:100%;
      height:100%;
      position:relative;
      overflow:hidden;
      margin:0;
      padding: 0;
    }
    .slider3D .imgList li{
      position:absolute;
      list-style: none;
      width:650px;
      height:350px;
      xtransition: transform 0.2s ease;
      user-select:none;
    }
    .slider3D a{
      cursor: pointer;
    }
    .slider3D .imgList img{
      width:650px;
      height:350px;
      position: absolute;
    }
    .slider3D .line{
      width:800px;
      margin:auto;
      text-align: center;
    }
    .slider3D .line a{
      display: inline-block;
      width:50px;
      height: 5px;
      margin-left:2px;
    }
    .slider3D .normal-line{
      background-color: rgba(0,0,0,0.2);
    }
    .slider3D .current-line{
      background-color: red;
    }